body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u116 {
  position:absolute;
  left:-10px;
  top:0px;
}
#u116_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u116_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:680px;
}
#u117 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:680px;
}
#u118 {
  position:absolute;
  left:2px;
  top:332px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u119 {
  position:absolute;
  left:726px;
  top:590px;
  width:52px;
  height:52px;
}
#u120 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u121 {
  position:absolute;
  left:819px;
  top:590px;
  width:52px;
  height:52px;
}
#u122 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u123 {
  position:absolute;
  left:911px;
  top:590px;
  width:52px;
  height:52px;
}
#u124 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u116_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:680px;
}
#u125 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:680px;
}
#u126 {
  position:absolute;
  left:2px;
  top:332px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u127 {
  position:absolute;
  left:726px;
  top:590px;
  width:52px;
  height:52px;
}
#u128 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u129 {
  position:absolute;
  left:819px;
  top:590px;
  width:52px;
  height:52px;
}
#u130 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u131 {
  position:absolute;
  left:911px;
  top:590px;
  width:52px;
  height:52px;
}
#u132 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u116_state2 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u116_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u133_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:680px;
}
#u133 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:680px;
}
#u134 {
  position:absolute;
  left:2px;
  top:332px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u135_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u135 {
  position:absolute;
  left:726px;
  top:590px;
  width:52px;
  height:52px;
}
#u136 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u137 {
  position:absolute;
  left:819px;
  top:590px;
  width:52px;
  height:52px;
}
#u138 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:52px;
}
#u139 {
  position:absolute;
  left:911px;
  top:590px;
  width:52px;
  height:52px;
}
#u140 {
  position:absolute;
  left:2px;
  top:18px;
  width:48px;
  visibility:hidden;
  word-wrap:break-word;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1521px;
  height:384px;
}
#u141 {
  position:absolute;
  left:200px;
  top:680px;
  width:1520px;
  height:383px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u142 {
  position:absolute;
  left:2px;
  top:184px;
  width:1516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143 {
  position:absolute;
  left:217px;
  top:700px;
}
#u143_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u143_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:349px;
}
#u144 {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:349px;
}
#u145 {
  position:absolute;
  left:2px;
  top:166px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_state1 {
  position:relative;
  left:0px;
  top:0px;
  visibility:hidden;
  background-image:none;
}
#u143_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u146_img {
  position:absolute;
  left:0px;
  top:0px;
  width:731px;
  height:349px;
}
#u146 {
  position:absolute;
  left:766px;
  top:0px;
  width:731px;
  height:349px;
}
#u147 {
  position:absolute;
  left:2px;
  top:166px;
  width:727px;
  visibility:hidden;
  word-wrap:break-word;
}
