body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1460px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12 {
  position:absolute;
  left:471px;
  top:177px;
  width:989px;
  height:538px;
  overflow:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:538px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u13 {
  position:absolute;
  left:104px;
  top:30px;
  width:300px;
  height:170px;
}
#u14 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u15 {
  position:absolute;
  left:159px;
  top:277px;
  width:170px;
  height:170px;
}
#u16 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:538px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u17 {
  position:absolute;
  left:181px;
  top:65px;
  width:300px;
  height:170px;
}
#u18 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u19 {
  position:absolute;
  left:706px;
  top:317px;
  width:170px;
  height:170px;
}
#u20 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:989px;
  height:538px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:170px;
  height:170px;
}
#u21 {
  position:absolute;
  left:195px;
  top:19px;
  width:170px;
  height:170px;
}
#u22 {
  position:absolute;
  left:2px;
  top:77px;
  width:166px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u23 {
  position:absolute;
  left:581px;
  top:313px;
  width:300px;
  height:170px;
}
#u24 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:170px;
}
#u25 {
  position:absolute;
  left:486px;
  top:797px;
  width:300px;
  height:170px;
}
#u26 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:301px;
  height:171px;
}
#u27 {
  position:absolute;
  left:816px;
  top:797px;
  width:300px;
  height:170px;
}
#u28 {
  position:absolute;
  left:2px;
  top:77px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u29 {
  position:absolute;
  left:1145px;
  top:851px;
  width:140px;
  height:40px;
}
#u30 {
  position:absolute;
  left:2px;
  top:12px;
  width:136px;
  word-wrap:break-word;
}
