body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1911px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u66 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:394px;
}
#u67 {
  position:absolute;
  left:0px;
  top:90px;
  width:1920px;
  height:394px;
}
#u68 {
  position:absolute;
  left:2px;
  top:189px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69_div {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:54px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u69 {
  position:absolute;
  left:460px;
  top:293px;
  width:848px;
  height:54px;
  font-size:20px;
}
#u70 {
  position:absolute;
  left:2px;
  top:19px;
  width:844px;
  visibility:hidden;
  word-wrap:break-word;
}
#u71_div {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:54px;
  background:inherit;
  background-color:rgba(140, 68, 80, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u71 {
  position:absolute;
  left:1308px;
  top:293px;
  width:152px;
  height:54px;
  font-size:20px;
}
#u72 {
  position:absolute;
  left:2px;
  top:15px;
  width:148px;
  word-wrap:break-word;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:448px;
  height:89px;
}
#u73 {
  position:absolute;
  left:736px;
  top:173px;
  width:448px;
  height:89px;
  font-size:20px;
}
#u74 {
  position:absolute;
  left:2px;
  top:36px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:475px;
  top:293px;
  width:823px;
  height:54px;
}
#u75_input {
  position:absolute;
  left:0px;
  top:0px;
  width:823px;
  height:54px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:18px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1929px;
  height:123px;
}
#u77 {
  position:absolute;
  left:-9px;
  top:484px;
  width:1929px;
  height:123px;
}
#u78 {
  position:absolute;
  left:2px;
  top:54px;
  width:1925px;
  visibility:hidden;
  word-wrap:break-word;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:72px;
}
#u79 {
  position:absolute;
  left:300px;
  top:508px;
  width:328px;
  height:72px;
  font-size:20px;
}
#u80 {
  position:absolute;
  left:2px;
  top:28px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:72px;
}
#u81 {
  position:absolute;
  left:628px;
  top:508px;
  width:328px;
  height:72px;
  font-size:20px;
}
#u82 {
  position:absolute;
  left:2px;
  top:28px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u83_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:72px;
}
#u83 {
  position:absolute;
  left:956px;
  top:508px;
  width:328px;
  height:72px;
  font-size:20px;
}
#u84 {
  position:absolute;
  left:2px;
  top:28px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u85_img {
  position:absolute;
  left:0px;
  top:0px;
  width:328px;
  height:72px;
}
#u85 {
  position:absolute;
  left:1284px;
  top:508px;
  width:328px;
  height:72px;
  font-size:20px;
}
#u86 {
  position:absolute;
  left:2px;
  top:28px;
  width:324px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u88_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u88 {
  position:absolute;
  left:305px;
  top:634px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u89 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u90_div {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u90 {
  position:absolute;
  left:305px;
  top:1479px;
  width:129px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u91 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u92 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u93_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:141px;
}
#u93 {
  position:absolute;
  left:305px;
  top:1545px;
  width:511px;
  height:141px;
}
#u94 {
  position:absolute;
  left:2px;
  top:62px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u95_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:142px;
}
#u95 {
  position:absolute;
  left:816px;
  top:1545px;
  width:268px;
  height:141px;
}
#u96 {
  position:absolute;
  left:2px;
  top:62px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u97_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:141px;
}
#u97 {
  position:absolute;
  left:1133px;
  top:1545px;
  width:318px;
  height:141px;
}
#u98 {
  position:absolute;
  left:2px;
  top:62px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u99_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:142px;
}
#u99 {
  position:absolute;
  left:1450px;
  top:1545px;
  width:167px;
  height:141px;
}
#u100 {
  position:absolute;
  left:2px;
  top:62px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u101_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:141px;
}
#u101 {
  position:absolute;
  left:838px;
  top:1718px;
  width:511px;
  height:141px;
}
#u102 {
  position:absolute;
  left:2px;
  top:62px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u103_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:142px;
}
#u103 {
  position:absolute;
  left:1349px;
  top:1718px;
  width:268px;
  height:141px;
}
#u104 {
  position:absolute;
  left:2px;
  top:62px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u105_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:141px;
}
#u105 {
  position:absolute;
  left:305px;
  top:1718px;
  width:318px;
  height:141px;
}
#u106 {
  position:absolute;
  left:2px;
  top:62px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u107_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:142px;
}
#u107 {
  position:absolute;
  left:623px;
  top:1718px;
  width:167px;
  height:141px;
}
#u108 {
  position:absolute;
  left:2px;
  top:62px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u109_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:141px;
}
#u109 {
  position:absolute;
  left:305px;
  top:1892px;
  width:511px;
  height:141px;
}
#u110 {
  position:absolute;
  left:2px;
  top:62px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u111_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:142px;
}
#u111 {
  position:absolute;
  left:816px;
  top:1892px;
  width:268px;
  height:141px;
}
#u112 {
  position:absolute;
  left:2px;
  top:62px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u113_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:141px;
}
#u113 {
  position:absolute;
  left:1133px;
  top:1892px;
  width:318px;
  height:141px;
}
#u114 {
  position:absolute;
  left:2px;
  top:62px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u115_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:142px;
}
#u115 {
  position:absolute;
  left:1451px;
  top:1892px;
  width:167px;
  height:141px;
}
#u116 {
  position:absolute;
  left:2px;
  top:62px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u117_img {
  position:absolute;
  left:0px;
  top:0px;
  width:511px;
  height:141px;
}
#u117 {
  position:absolute;
  left:838px;
  top:2065px;
  width:511px;
  height:141px;
}
#u118 {
  position:absolute;
  left:2px;
  top:62px;
  width:507px;
  visibility:hidden;
  word-wrap:break-word;
}
#u119_img {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:142px;
}
#u119 {
  position:absolute;
  left:1349px;
  top:2065px;
  width:268px;
  height:141px;
}
#u120 {
  position:absolute;
  left:2px;
  top:62px;
  width:264px;
  visibility:hidden;
  word-wrap:break-word;
}
#u121_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:141px;
}
#u121 {
  position:absolute;
  left:305px;
  top:2065px;
  width:318px;
  height:141px;
}
#u122 {
  position:absolute;
  left:2px;
  top:62px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u123_img {
  position:absolute;
  left:0px;
  top:0px;
  width:168px;
  height:142px;
}
#u123 {
  position:absolute;
  left:622px;
  top:2065px;
  width:167px;
  height:141px;
}
#u124 {
  position:absolute;
  left:2px;
  top:62px;
  width:163px;
  visibility:hidden;
  word-wrap:break-word;
}
#u125 {
  position:fixed;
  right:200px;
  top:50%;
  margin-top:-242.5px;
}
#u125_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u125_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u126 {
  position:absolute;
  left:0px;
  top:0px;
}
#u126_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u126_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u127 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u128_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:106px;
}
#u128 {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:106px;
}
#u129 {
  position:absolute;
  left:2px;
  top:45px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u130_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:106px;
}
#u130 {
  position:absolute;
  left:0px;
  top:189px;
  width:106px;
  height:106px;
}
#u131 {
  position:absolute;
  left:2px;
  top:45px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
#u132_img {
  position:absolute;
  left:0px;
  top:0px;
  width:106px;
  height:106px;
}
#u132 {
  position:absolute;
  left:0px;
  top:379px;
  width:106px;
  height:106px;
}
#u133 {
  position:absolute;
  left:2px;
  top:45px;
  width:102px;
  visibility:hidden;
  word-wrap:break-word;
}
.u135_div {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:368px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
.u135 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:368px;
}
.u136 {
  position:absolute;
  left:2px;
  top:176px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
.u137_img {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:230px;
}
.u137 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:230px;
}
.u138 {
  position:absolute;
  left:2px;
  top:107px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
.u139_img {
  position:absolute;
  left:0px;
  top:0px;
  width:417px;
  height:139px;
}
.u139 {
  position:absolute;
  left:0px;
  top:230px;
  width:416px;
  height:138px;
}
.u140 {
  position:absolute;
  left:2px;
  top:61px;
  width:412px;
  visibility:hidden;
  word-wrap:break-word;
}
#u134-1 {
  position:absolute;
  left:0px;
  top:0px;
  width:416px;
  height:368px;
}
#u134-2 {
  position:absolute;
  left:451px;
  top:0px;
  width:416px;
  height:368px;
}
#u134-3 {
  position:absolute;
  left:902px;
  top:0px;
  width:416px;
  height:368px;
}
#u134-4 {
  position:absolute;
  left:0px;
  top:398px;
  width:416px;
  height:368px;
}
#u134-5 {
  position:absolute;
  left:451px;
  top:398px;
  width:416px;
  height:368px;
}
#u134-6 {
  position:absolute;
  left:902px;
  top:398px;
  width:416px;
  height:368px;
}
#u134 {
  position:absolute;
  left:305px;
  top:710px;
  width:1318px;
  height:766px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:15px;
}
#u141_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:90px;
}
#u141 {
  position:absolute;
  left:0px;
  top:0px;
  width:1920px;
  height:90px;
}
#u142 {
  position:absolute;
  left:2px;
  top:37px;
  width:1916px;
  visibility:hidden;
  word-wrap:break-word;
}
#u143_img {
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:81px;
}
#u143 {
  position:absolute;
  left:0px;
  top:9px;
  width:81px;
  height:81px;
}
#u144 {
  position:absolute;
  left:2px;
  top:32px;
  width:77px;
  visibility:hidden;
  word-wrap:break-word;
}
