body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1910px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:455px;
}
#u12 {
  position:absolute;
  left:1007px;
  top:221px;
  width:519px;
  height:455px;
}
#u13 {
  position:absolute;
  left:2px;
  top:220px;
  width:515px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:1082px;
  top:341px;
  width:369px;
  height:41px;
}
#u14_input {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:41px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u15 {
  position:absolute;
  left:1082px;
  top:418px;
  width:343px;
  height:36px;
}
#u15_input {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:36px;
  background-color:transparent;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
  border-color:transparent;
  outline-style:none;
}
#u16_div {
  position:absolute;
  left:0px;
  top:0px;
  width:369px;
  height:51px;
  background:inherit;
  background-color:rgba(25, 158, 216, 0);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u16 {
  position:absolute;
  left:1082px;
  top:488px;
  width:369px;
  height:51px;
  font-size:20px;
}
#u17 {
  position:absolute;
  left:2px;
  top:18px;
  width:365px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u18 {
  position:absolute;
  left:1082px;
  top:454px;
  width:343px;
  height:35px;
  font-size:20px;
  color:#FF0000;
  text-align:left;
}
#u19 {
  position:absolute;
  left:2px;
  top:6px;
  width:339px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:1088px;
  top:243px;
  visibility:hidden;
}
#u20_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u20_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u22_div {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:246px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:246px;
}
#u23 {
  position:absolute;
  left:2px;
  top:115px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:343px;
  height:179px;
}
#u24 {
  position:absolute;
  left:0px;
  top:-5px;
  width:343px;
  height:179px;
}
#u25 {
  position:absolute;
  left:2px;
  top:82px;
  width:339px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u26 {
  position:absolute;
  left:176px;
  top:55px;
  width:71px;
  height:71px;
}
#u27 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:0px;
  top:55px;
  touch-action:none;
}
#u28_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u28_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:69px;
}
#u30 {
  position:absolute;
  left:0px;
  top:122px;
  width:71px;
  height:69px;
}
#u31 {
  position:absolute;
  left:2px;
  top:26px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:71px;
}
#u33 {
  position:absolute;
  left:2px;
  top:28px;
  width:67px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:577px;
  height:455px;
}
#u34 {
  position:absolute;
  left:315px;
  top:221px;
  width:577px;
  height:455px;
}
#u35 {
  position:absolute;
  left:2px;
  top:220px;
  width:573px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1930px;
  height:77px;
}
#u36 {
  position:absolute;
  left:-10px;
  top:0px;
  width:1930px;
  height:77px;
}
#u37 {
  position:absolute;
  left:2px;
  top:30px;
  width:1926px;
  visibility:hidden;
  word-wrap:break-word;
}
